# Node.js dependencies
node_modules/

# Next.js build output
.next/
out/

# Production environment
.env
.env.*     # Ignore all env variants (e.g., .env.local, .env.production)

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
.DS_Store
.vscode/
.idea/
*.swp

# Build artifacts
*.log
*.lock
*.cache
dist/

# Local tooling
.eslintcache
.stylelintcache

# Test output
coverage/
*.lcov

# TypeScript build artifacts
*.tsbuildinfo

# Cursor
.cursorrules

# MD Files
*.md
.md